@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


body{
  font-family: "Lexend Deca", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-blue{
  color: #0174B7;
}

/* lading page */



